<h1>Send An Email</h1>

<form action="/email" method="post">
  <input type="email" name="recipient" placeholder="recipient">
  <input type="text" name="subject" placeholder="subject">
  <textarea name="body"></textarea>
  <input type="submit" value"send email">
</form>
