.center {
  margin: auto;
  text-align: center;
}

.container {
  width: 1000px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 50px;
}


blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.articleimg {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  text-align: center;
  display: block;
}

.panel {
  max-width: 45%;
  height: 400px;
  display: inline-block;
  background-color: #d8d8d8;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
}

.newscontent {
  padding: 10px;
}

.red-blue-pill {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.blue-pill {
  width: 45%;
  margin-left: 50px;
  display: inline-block;
  padding: 20px;
  border: 1px solid red;
  vertical-align: top;
}

.red-pill {
  width: 45%;
  margin: auto;
  display: inline-block;
  padding: 20px;
  border: 1px solid red;
  vertical-align: top;
}

.news-list {
  text-align: center;
  width: 30%;
  height: 180px;
  display: inline-block;
  background-color: #d8d8d8;
  margin: 10px;
  padding: 10px;
}

.sourceimage {
  vertical-align: middle;
  max-height: 65% ;
  margin: auto;
  display: block;
}

