  <form id="gettweets" action="/tweets" method="post">
    <input type="text" name="twitterhandle" placeholder="Enter Twitter handle">
    <input type="submit" name="Get Tweet">
  </form>

  <a href="/nearby">See Nearby Tweets</a>
