<h1>Welcome To Greg's House of Horrors</h1>

<h3 class="red-blue-pill"> Take the Red Pill or the Blue Pill. </h3>

<div class="blue-pill">
<h4 style="text-align: center;"> Blue Pill </h4>
<p> You search twitter, you wake up the next day in your bed and believe whatever you want to believe </p>
<div>
  <%= erb :'tweets/_search', layout: false %>
</div>

</div>

<div class="red-pill">
<h4 style="text-align: center;"> Red Pill </h4>
<p> You stay in wonderland and we show you how deep the rabbit hole goes. </p>
<a href="/news/index">Rabbit hole....</a>
</div>
