<h1>Welcome To Greg's House of Horrors</h1>
<div>
  <form id="gettweets" action="https://api.twitter.com/1.1/search/tweets.json" method="get">
    <input type="text" name="twitterhandle" placeholder="enter Twitter handle">
    <input type="submit" name="Get Tweet">
  </form>
</div>
